/* Your styles here */
.btn-logout {
    margin-top: 10px;
}

.nav-jr {
    background: #303030;
}

..default-jr {
    background: #303030;

}

.navbar-default .navbar-nav > li > a:hover {
    color: #D71E24;
    background-color: transparent;
}
    .navbar-default .navbar-brand:hover {
    color:#D71E24;
    background-color: transparent;
}

.img-user {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
        border: 3px solid #fff;
        border-radius: 50%;
        background-color: #fff;
}