/* Your styles here */
.btn-logout {
    margin-top: 10px;
}

.nav-jr {
    background: #303030;
}

..default-jr {
    background: #303030;

}

.navbar-default .navbar-nav > li > a:hover {
    color: #D71E24;
    background-color: transparent;
}
    .navbar-default .navbar-brand:hover {
    color:#D71E24;
    background-color: transparent;
}

.insert-new-contact {
    margin-top: 200px !important;
}